# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
a.out
in
large_in_109582
medium_in_58110
small_in_5500
result.txt
11million.txt
